# /usr/local/etc/haproxy/haproxy.cfg

global
  log stdout format raw local0
  daemon
  maxconn 4096

defaults
  log global
  mode http
  option httplog
  timeout connect 3s
  timeout client  60s
  timeout server  60s

# ClusterDNS-IP aus /etc/resolv.conf im HAProxy-Pod übernehmen!
resolvers kube_dns
  nameserver dns1 ${KUBE_DNS}:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry   1s
  hold valid      10s

frontend fe_in
  bind *:8443 ssl crt /web/tls/tls.pem
  http-response set-header Strict-Transport-Security "max-age=31536000"

  default_backend be_stateful

backend be_stateful
  balance roundrobin

  # Healthcheck: anpassen falls dein Service was anderes kann
  option httpchk GET /index.html
  default-server inter 5s fall 2 rise 2

  # DNS dynamisch auflösen, ohne Start-Blockade wenn DNS noch leer ist
  default-server init-addr none resolvers kube_dns resolve-prefer ipv4

  # StatefulSet-Pod-FQDN:
  # project-0.apache-headless.<namespace>.svc.cluster.local
  # "10" = max erwartete Replicas 
  server-template pod 10 dns-service.default.svc.cluster.local:8080 check

