apiVersion: v1
kind: ConfigMap
metadata:
  name: project-config
  namespace: default
data:
  WEBSITE: https://raw.githubusercontent.com/Sodeil/K8S-Mini-Project/3f20e07116a9bab38e851c65c1ceaf0fbebee04a/index.html
  HAPROXY_CONFIG: https://raw.githubusercontent.com/Sodeil/K8S-Mini-Project/3f20e07116a9bab38e851c65c1ceaf0fbebee04a/haproxy.cfg
  httpd.conf: |
    ServerName localhost
    Listen 8080

    LoadModule mpm_event_module modules/mod_mpm_event.so
    LoadModule authn_core_module modules/mod_authn_core.so
    LoadModule authz_core_module modules/mod_authz_core.so
    LoadModule dir_module modules/mod_dir.so
    LoadModule mime_module modules/mod_mime.so
    LoadModule log_config_module modules/mod_log_config.so
    LoadModule unixd_module modules/mod_unixd.so
    LoadModule headers_module modules/mod_headers.so
    LoadModule env_module modules/mod_env.so

    DocumentRoot "/usr/local/apache2/htdocs"
    <Directory "/usr/local/apache2/htdocs">
      Require all granted
      AllowOverride None
    </Directory>

    DirectoryIndex index.html
    ErrorLog /usr/local/apache2/logs/error_log
    CustomLog /usr/local/apache2/logs/access_log combined
    PassEnv POD_NAME
    Header set X-Served-By "%{POD_NAME}e"
